.sticky {
    position: sticky;
    top: 254px;
}
.searcher_box {
    width: 100%;
    height: 40px;
    border: 1px solid var(--gray);
    margin-bottom: 20px;
    position: relative;
}
.searcher {
    width: calc(100% - 40px);
    padding: 10px 20px;
    height: calc(100% - 20px);
    color: #000;
    font-size: 14px;
    border: none;

}
.searcher::placeholder {
    color: var(--gray);
}
.search_button_box {
    position: absolute;
    right: 10px;
    top: 0;
    bottom: 0;
    align-content: center;
    width: 18px;
}
.search_button {
    background-image: url('https://robodk.com/library-robots/lib_assets/magnifier.png');
    width: 18px;
    height: 18px;
    outline: none;
    border: none;
    background-size: 100% 100%;
    cursor: pointer;
}
.buttons {
    margin-bottom: 20px;
}
.reset {
    border: 1px solid var(--gray);
    color: var(--gray);
    padding: 3px;
    font-size: 12px;
    margin-right: 5px;
    cursor: pointer;
    transition: .2s;
}
.reset:hover {
    background-color: var(--blue);
    color: #fff;
}
.filters {
    max-height: 80vh;
    overflow-y: auto;
    border: 1px solid var(--gray);
    max-height: 550px;
    border-bottom: none;
}
.icon {
    width: 20px;
    height: 20px;
    vertical-align: middle;
    float: right;
    display: inline-block;
    background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns='http://www.w3.org/2000/svg'%20viewBox='0%200%2016%2016'%20fill='%23083454'%3E%3Cpath%20fill-rule='evenodd'%20d='M1.646%204.646a.5.5%200%200%201%20.708%200L8%2010.293l5.646-5.647a.5.5%200%200%201%20.708.708l-6%206a.5.5%200%200%201-.708%200l-6-6a.5.5%200%200%201%200-.708z'/%3E%3C/svg%3E");
}
.open_list {
    width: 100%;
    border: none;
    height: 60px;
    padding: 20px;
    text-align: left;
    display: block;
    font-size: 16px;
    font-weight: 550;
    color: var(--gray);
    cursor: pointer;
}
.list {
    max-height: 40vh;
    overflow-y: auto;
    display: block;
    width: 100%;
    border-bottom: 1px solid var(--gray);
    background-color: #fff;
}
.list_item>div {
    display: inline-block;
}
.list_item {
    padding: 3px 10px;
    min-height: 22px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.checkbox {
    cursor: pointer;
    display: inline-flex;
    align-items: center;
}
.checkbox>input {
    border: 1px solid #000;
    cursor: pointer;
    height: 16px;
    margin-top: 4px;
    outline: none;
    transition-duration: .3s;
    width: 16px;
}
.value {
    min-width: 35px;
    background-color: var(--blue);
    color: #fff;
    height: 100%;
    padding: 0 5px;
    text-align: center;
    border-radius: 100px;
    align-content: center;
}


@media (min-width: 576px) {
    .container {
        width: 100%;
    }
}
@media (min-width: 992px) {
    .container {
        width: 25%;
    }
}