.main {
    display: grid;
    margin-left: 10px;
}


@media (min-width: 576px) {
    .main {
        width: 100%;
    }
}
@media (min-width: 992px) {
    .main {
        width: calc(74% - 1px);
    }
}

@media (min-width: 576px) {
    .main {
        grid-template-columns: repeat(2, 50%);
    }
}
@media (min-width: 768px) {
    .main {
        grid-template-columns: repeat(3, 33.3333%);
    }
}
@media (min-width: 1200px) {
    .main {
        grid-template-columns: repeat(4, 25%);
    }
}
@media (min-width: 1400px) {
    .main {
        grid-template-columns: repeat(6, 16.66666667%);
    }
}