body {
    --gray: #818181;
    --blue: #083454;
    --light-gray: #cfcfcf;
    background-color: var(--light-gray);
}
* {
    font-family: Arial, Helvetica, sans-serif;
}
input, button {
    outline: none;
}
main {
    display: flex;
    margin-top: 168px;
    padding-left: 2%;
    padding-right: 2%;
    padding-top: 20px;
    flex-wrap: wrap;
}

@media (min-width: 1800px) {
    main {
        padding-left: 15%;
        padding-right: 15%;
        padding-top: 20px;
    }
}