.main {
    margin-left: 10px;
    width: 74%;
}
.cards {
    display: grid;
}
@media (min-width: 576px) {
    .cards {
        width: 100%;
    }
}
@media (min-width: 576px) {
    .cards {
        grid-template-columns: repeat(2, 50%);
    }
}
@media (min-width: 768px) {
    .cards {
        grid-template-columns: repeat(3, 33.3333%);
    }
}
@media (min-width: 992px) {
    .main {
        width: calc(74% - 1px);
    }
}
@media (min-width: 1200px) {
    .cards {
        grid-template-columns: repeat(4, 25%);
    }
}
@media (min-width: 1400px) {
    .cards {
        grid-template-columns: repeat(6, 16.66666667%);
    }
}

.pagination {
    display: inline-block;
    margin: 20px;
}
.button {
    cursor: pointer;
    background-color: #ffF;
    border: 1px solid var(--gray);
    margin: 3px;
    text-align: center;
    display: inline-block;
    text-decoration: none;
    color: #000;
    padding: 2px 4px;
}
.button:hover {
    background-color: var(--blue);
    color: #fff;
}
